<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="ru.itmo.navigatorx" platformBuildVersionCode="30" platformBuildVersionName="11">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:theme="resourceId:0x7f0f0008" android:label="NavigatorX" android:icon="res/mipmap-xxxhdpi-v4/ic_launcher.png" android:name="ru.zakoulov.navigatorx.App" android:allowBackup="true" android:supportsRtl="true" android:extractNativeLibs="false" android:roundIcon="res/mipmap-xxxhdpi-v4/ic_launcher_round.png" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:isSplitRequired="true">
		<activity android:name="ru.zakoulov.navigatorx.ui.MainActivity" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="ru.itmo.navigatorx.lifecycle-process" />
		<meta-data android:name="com.android.vending.splits.required" android:value="true" />
		<meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store" />
		<meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK" />
		<meta-data android:name="com.android.vending.splits" android:value="res/xml/splits0.xml" />
		<meta-data android:name="com.android.vending.derived.apk.id" android:value="2" />
	</application>
</manifest>
